@model project.Models.passenger
@{
    ViewBag.Title = "profile";
}

<h1>profile</h1>
<table style=" width: 100%;
        height: 600px;
        text-align: center;
        font-weight: bold;
        margin: auto;
">

    <tr>
        <td></td>
        <td ><h3><span style=" color: #EB233C"> Your Name IS : </span> @Model.name</h3></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td > <h3> <span style="color: #EB233C">Your Age IS : </span> @Model.age</h3></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td><h3> <span style=" color: #EB233C">Your Email IS : </span> @Model.email</h3></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td></td>
        <td><h3> <span style="color: #EB233C">Your Phone IS : </span> @Model.phone</h3></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td></td>
        <td><h3> <span style="color: #EB233C">Your Birth Day IS :</span> @Model.BD</h3></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td><h3> <span style="color: #EB233C">Your Gender IS :</span> @Model.gender</h3></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td><h3> <span style="color: #EB233C"> Your country IS : </span> @Model.country</h3></td>
        <td></td>
        <td></td>
    </tr>



</table>

